<!DOCTYPE html>
<html>
<head>
  <title>React + Rails + S3 Example</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>
  <div id="app">
    <div id="app-loading">
      <i class="fa fa-gear fa-5x fa-spin"></i>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
